{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} App Agil {% endblock%}

{% block main %}        
    <!-- aqui nós pegamos o objeto default do método object_list que provê todos do model-->    
    <div class="row">
        <!-- faço uma requisição ajax para verificar como está o servidor do whatsapp-->                
        <div class="text-center col-12">
            <!-- <a href="#" id="status" onclick="statusWhatsApp()">Verificar status Whatsapp </a> -->
            <h5 id="status">Verificado status do Whatsapp</h5>
        </div>                     
    </div>
    <div class="row">
        <div class="text-center col-12" id="spinner-box">
            <div class="spinner-border" role="status"></div>            
        </div>        
    </div>    
    <div class="row">
        <div class="text-center col-12" id="data-box">            
        </div>        
    </div>    
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}