{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>  
    <div class="wrapper">
        <nav class="navbar navbar-dark bg-dark">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'pngegg.png' %}"
                    width="30" height="30" class="d-inline-block align-top" alt="">
                    Gestão App Agil
                    </a>        
                </div>                      
            </div>
            <div>
                {% if user.is_authenticated %}
                    <span class="navbar-text">Bem vindo! {{ user.username }}</span>
                    <a href="{% url 'logout' %}"><button class="btn btn-info">Sair</button></a>
                {% else %}
                    <span class="navbar-text"Faça o login</span>
                    <button class="btn btn-info"><a href="{% url 'login' %}">Login</a></button>
                {% endif %}            
            </div>
        </nav>     
        <!-- aqui tive que uisar o fluid, porque o container normal não deixa eu usar 100% do width-->
        <br/>
        <div class="container-fluid">            
            <div class="row dashboard-layout">
                <div class="col-2" id="clientes-list">
                    <div class="menu">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'person_list'%}">
                                    <i class="fas fa-fw fa-tachometer-alt"></i>
                                    <span>Clientes</span>
                                </a>
                            </li>                    
                        </ul>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'empresa_list' %}">
                                    <i class="fas fa-fw fa-tachometer-alt"></i>
                                    <span>Empresas</span>
                                </a>
                            </li>                    
                        </ul>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'laudo_list' %}">
                                    <i class="fas fa-fw fa-tachometer-alt"></i>
                                    <span>Laudos</span>
                                </a>
                            </li>                    
                        </ul>
                    </div>
                                            
                </div>
                <div class="col-10" id="dashboard">
                    <div class="conteudo">                               
                        {% block main %}   
            
                        {% endblock %}
                    </div>
        
                    </div>
                </div>       
            </div>     
            
        </div>       
    </div>    
    {% block footer %}  
    
    {% endblock %}    
</body>
</html>